.transparent {
	color: transparent;
}

.green {
	color: #88c549;
}

.light-blue {
	color: #648aa8;
}

#title {
	margin: 80px 0;
	text-align: center;
}

#fallback {
	display: none;
}

@media screen and (max-width: 650px) {
	#fallback {
		display: inline;
	}

	#prefix {
		display: none;
	}
}
