.transparent {
	color: transparent;
}

.green {
	color: #88c549;
}

.light-blue {
	color: #648aa8;
}

#title {
	margin: 120px 20px 80px;
	text-align: center;
	white-space: pre;
}

#fallback {
	display: none;
}

@media screen and (max-width: 650px) {
	#title {
		margin-top: 80px;
		margin-bottom: 50px;
	}

	#fallback {
		display: inline;
	}

	#prefix {
		display: none;
	}
}
