@import 'tailwindcss';

@font-face {
  font-family: 'Commit Mono';
  src: url('/assets/font/CommitMono-400-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Commit Mono';
  src: url('/assets/font/CommitMono-700-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Commit Mono';
  src: url('/assets/font/CommitMono-400-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Commit Mono';
  src: url('/assets/font/CommitMono-700-Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@theme {
  --color-bg: #1f1f28;
  --color-bg-dark: #16161d;
  --color-bg-light: #2a2a37;
  --color-fg: #dcd7ba;
  --color-fg-muted: #938aa9;
  --color-fg-stronger: #e6c384;
  --color-fg-link: #7fb4ca;

  --font-mono:
    'Commit Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

@layer base {
  html,
  body,
  #svelte {
    @apply bg-bg text-fg h-full font-mono;
  }
}
