@font-face {
	font-family: 'Ubuntu Mono';
	font-weight: normal;
	src: url(./assets/UbuntuMono-R.ttf);
}

:root {
	--background: #2c001e;
	--font: 'Ubuntu Mono';
}

* {
	font-family: var(--font), monospace;
	box-sizing: border-box;
	color: white;
	margin: 0;
}

body {
	background-color: var(--background);
}

.windows-theme {
	--background: #000;
	--font: Consolas;
}

.transparent {
	color: transparent;
}

.green {
	color: #88c549;
}

.light-blue {
	color: #648aa8;
}

#title {
	margin: 80px 0;
	text-align: center;
}

#fallback {
	display: none;
}

@media screen and (max-width: 650px) {
	#fallback {
		display: inline;
	}

	#prefix {
		display: none;
	}
}
