@font-face {
	font-family: 'Ubuntu Mono';
	font-weight: normal;
	src: url(./assets/UbuntuMono-R.ttf);
}

:root {
	--background: #2c001e;
	--font: 'Ubuntu Mono';
}

* {
	font-family: var(--font), monospace;
	box-sizing: border-box;
	color: white;
	margin: 0;
}

body {
	background-color: var(--background);
}

.windows-theme {
	--background: #000;
	--font: Consolas;
}
