@font-face {
	font-family: Ubuntu Mono;
	src: url('/assets/fonts/UbuntuMono-R.ttf');
}

body {
	margin: 0;
}

.green {
	color: #88c549;
}

.light-blue {
	color: #648aa8;
}

.yellow {
	color: #ffff70;
}
