@font-face {
	font-family: Ubuntu Mono;
	src: url('/assets/fonts/UbuntuMono-R.ttf');
}

* {
	box-sizing: border-box;
}

html,
body,
#svelte {
	height: 100%;
	margin: 0;
	padding: 0;
}

.red {
	color: #ff4f4f;
}

.green {
	color: #88c549;
}

.light-blue {
	color: #648aa8;
}

.yellow {
	color: #ffff70;
}
